
<div class="modal-header bg-primary">
	<h4 class="modal-title">{{ $ctrl.agregar ? 'Nuevo Producto' :
		'Editando Producto' }}</h4>
</div>

<div class="modal-body">

	<form class="form-horizontal">
		<div class="form-group">
			<label for="nombre" class="control-label col-xs-4">Nombre</label>
			<div class="col-xs-8">
				<input id="nombre" name="nombre"
				ng-model="$ctrl.instancia.descripcion"
					placeholder="Ingrese nombre del Producto" type="text"
					required="required" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label for="precio" class="control-label col-xs-4">Precio</label>
			<div class="col-xs-8">
				<div class="input-group">
					<div class="input-group-addon">$</div>
					<input ng-model="$ctrl.instancia.precio" id="precio" name="precio" placeholder="Ingrese precio"
						type="text" required="required" class="form-control">
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="rubro" class="control-label col-xs-4">Rubro</label>
			<div class="col-xs-8">
				<div class="input-group">
				 <select class="form-control"
				 	ng-options="r.rubro for r in $ctrl.rubros track by r.id" 
				 	ng-model="$ctrl.instancia.rubro">
    			</select>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="descripcion" class="control-label col-xs-4">Descripción</label>
			<div class="col-xs-8">
				<textarea ng-model="$ctrl.instancia.descripcionExtendida" id="descripcion" name="descripcion" cols="40" rows="5"
					class="form-control"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-4"></label>
			<div class="col-xs-8">
				<label class="checkbox-inline"> <input ng-model="$ctrl.instancia.enStock" type="checkbox"
					name="checkbox" value="enStock"> En Stock
				</label>
			</div>
		</div>

	</form>
</div>

<div class="modal-footer">
	<div class="form-group row">
		<div class="col-xs-offset-4 col-xs-8">
			<button ng-click="$ctrl.volver()" class="btn btn-default">Volver</button>
			<button ng-click="$ctrl.ok()" ng-show="$ctrl.verGuardar()"
				class="btn btn-primary">Guardar</button>
		</div>
	</div>
</div>