<h2>{{titulo}}</h2>


<button ng-click="refresh()" class="btn btn-success">Refrescar</button>
<br/>
Buscar:
<input type="text" ng-model="textoBuscado" />
<br/>
<button ng-click="addEdit(false)" class="btn btn-success">Agregar</button>


<table style="margin-top: 20px" class="table table-hover">
	<tr>
		<td>ID</td>
		<td>Descripción</td>
		<td>Precio</td>
		<td>Rubro</td>
		<td>Stock?</td>
		<td>Opciones</td>
	</tr>
	<tr ng-repeat="p in lista | filter:textoBuscado">
		<td>{{p.id}}</td>
		<td>{{p.descripcion}}</td>
		<td>{{p.precio | number:2}}</td>
		<td>{{p.rubro.rubro}}</td>
		<td><i ng-show="p.enStock" class="glyphicon glyphicon-ok"></i></td>
		<td>
			<button class="btn btn-primary pull-right" ng-click="addEdit(p)">Edit</button>
			<button class="btn btn-danger pull-right" ng-click="remove(p)">Remove</button>
		</td>
	</tr>
</table>